:root {
    --main-bg-color: #012622;
    --main-light-bg-color: #003B36;
    --title-color: #9E5A45;
    --text-color: #C46F55;
    --main-card-color: #D1DADB;
    --main-light-card-color: #F6F2F8;
}