:root {
    --main-bg-color: #012622;
    --main-light-bg-color: #003B36;
    --title-color: #D7C856;
    --text-color: #F1E161;
    --main-card-color: #D1DADB;
    --main-light-card-color: #F6F2F8;
}