:root {
    --main-bg-color: #012622;
    --main-light-bg-color: #003B36;
    --title-color: #594137;
    --text-color: #6C4D41;
    --main-card-color: #D1DADB;
    --main-light-card-color: #F6F2F8;
}