:root {
    --main-bg-color: #012622;
    --main-light-bg-color: #003B36;
    --title-color: #494944;
    --text-color: #5B5B55;
    --main-card-color: #D1DADB;
    --main-light-card-color: #F6F2F8;
}